<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="abc.jpg" alt="Image Not Available"class="card-img-top" alt="...">

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Song Details: <h2>Data not Available</h2></h5>
            <h5 class="card-text">Song History: <h2>Data not Av/ailable</h2></h5>
           
    
    </div>
      </div>
    </div>
  </div>

 